h1, h2, h3, h4, h5, h6 {
    font-family: 'VT323';
}

p, div {
    font-family: 'VT323';
}

.center {
    text-align: center;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.full-width {
    width: 100%;
}

.mid-width {
    width: 50%;
}