{% extends "skeleton.html" %}
{% load static %}

{% block ng_app %}ng-app="dispatch" ng-strict-di{% endblock ng_app %}

{% block body %}
<div class="container" ng-controller="MainController as ctrl">
    <div class="row" id="main-row" ng-show="!ctrl.hide_everything" ng-cloak>
        <div class="col-md-12 col-xs-6">
        <div style="position: absolute; top: 0; height: 100%; z-index: -1;">
            <video src='{% static "video/bg.mp4" %}' id="video-background" autobuffer autoloop loop autoplay></video>
        </div>
        <div class="col-md-6" ng-cloak id="playerInVideo">
            <h1>{% verbatim %}{{ ctrl.player.name }}{% endverbatim %}</h1>
            <div>
                {% verbatim %}
                <span><b>HP: </b></span><uib-progressbar type="{{ ctrl.progressbar.player }}" value="ctrl.player.hp"><span style="color:white; white-space:nowrap;">{{ ctrl.player.hp }} %</span></uib-progressbar>
                {% endverbatim %}
            </div>
            <div ng-show="ctrl.displayImg" id='player' class="center animated topmargin">
                {% verbatim %}
                <img ng-src="{{ctrl.player.img}}" alt="Player">
                {% endverbatim %}
            </div>
        </div>
        <div class="col-md-6" ng-cloak id="enemyInVideo">
            <h1>{% verbatim %}{{ ctrl.enemy.name }}{% endverbatim %}</h1>
            <div>
                <span><b>HP: </b></span>
                {% verbatim %}
                <uib-progressbar type="{{ ctrl.progressbar.enemy }}" value="ctrl.enemy.hp"><span style="color:white; white-space:nowrap;">{{ ctrl.enemy.hp }} %</span></uib-progressbar>
                {% endverbatim %}
            </div>
            <div ng-show="ctrl.displayImg" id='enemy' class="center animated topmargin">
                {% verbatim %}
                <img ng-src="{{ctrl.enemy.img}}" alt="Player">
                {% endverbatim %}
            </div>
        </div>
        <div class="col-md-6 col-xs-6" ng-cloak>
            <div ng-if="!ctrl.can_play" class="center" ng-cloak>
                <h1><i class="fa fa-spin fa-spinner"></i></h1>
            </div>
            <div ng-if="ctrl.can_play">
                <h4><b>Actif</b></h4>
                <span class="btn-group full-width" role='group'>
                    <button ng-disabled="ctrl.player.counter_default.play_a_song < 1" type="button" class='btn btn-default mid-width' ng-click="ctrl.command_attack(ctrl.enemy, 'play_a_song');"><i class="fa fa-music"></i> {% verbatim %}Jouer "{{ ctrl.song }}" - {{ ctrl.player.counter_default.play_a_song }}/ {{ ctrl.counter_default.play_a_song }}{% endverbatim %}</button>
                    <button ng-disabled="ctrl.player.counter_default.drink_a_beer < 1" type="button" class='btn btn-success mid-width' ng-click="ctrl.command_attack(ctrl.player, 'drink_a_beer');"><i class="fa fa-beer"></i> Boire une Kro  {% verbatim %}- {{ ctrl.player.counter_default.drink_a_beer }}/ {{ ctrl.counter_default.drink_a_beer }}{% endverbatim %}</button>
                </span>
                <h4><b>Passif</b></h4>
                <span class="btn-group full-width" role='group'>
                    <button  ng-disabled="ctrl.player.counter_default.tune < 1" type="button" class='btn btn-default mid-width' ng-click="ctrl.command_attack(ctrl.player, 'tune');"><i class="fa fa-tachometer"></i> S'accorder</button>
                    <button type="button" class='btn btn-default mid-width'  ng-disabled="ctrl.player.counter_default.take_a_piss < 1" ng-click="ctrl.command_attack(ctrl.player, 'take_a_piss');"><i class="fa fa-tint"></i> Pisser</button>
                </span>
                <br><br>
                <button ng-disabled="ctrl.player.counter_default.special_attack < 1" type="button" class='btn btn-info full-width' ng-click="ctrl.command_attack(ctrl.enemy, 'special_attack');"><i class="fa fa-bolt"></i> Attaque spéciale : {% verbatim %}{{ ctrl.player.special_attack }}{% endverbatim %} (coup unique)</button>
            </div>
        </div>
        <div class="col-md-6 col-xs-6" ng-cloak>
            <div class="col-md-12" ng-if='ctrl.currentAttack.enemy'>
                <h4><b>Représailles</b></h4>
                {% verbatim %}
                <span class="animate-switch-container" ng-switch on="ctrl.currentAttack.enemy">
                    <p class="animate-switch" ng-switch-when="special_attack">{{ ctrl.enemy.name }} utilise son ataque spéciale : {{ ctrl.enemy.special_attack }}</p>
                    <p class="animate-switch" ng-switch-when="play_a_song">{{ ctrl.enemy.name }} joue {{ ctrl.other_song }} !!</p>
                    <p class="animate-switch" ng-switch-when="drink_a_beer">{{ ctrl.enemy.name }} se bourre la gueule et gagne des HP !</p>
                    <p class="animate-switch" ng-switch-when="take_a_piss">{{ ctrl.enemy.name }} pisse un coup !</p>
                    <p class="animate-switch" ng-switch-when="tune">{{ ctrl.enemy.name }} s'accorde (ou fait semblant) avant de rejouer !</p>
                    <p class="animate-switch" ng-switch-default>ERREUR</p>
                </span>
                {% endverbatim %}
                {{ ctrl.currentAttack.enemy }}
            </div>
        </div>
        </div>
        <hr>
        <div class="col-md-12">
            <br><br>
        </div>
    </div>
    <div class="row" ng-show="ctrl.hide_everything" ng-cloak>
        <div class="col-md-12 center">
            <div ng-if="ctrl.loser === 'enemy';">
                <img src="{% static 'img/win.png' %}">
                <h3>Wouhou !</h3>
                <p>Tu maitrises les KO par uppercuites !</p>
                <p>Et si tu venez nous affronter en vrai? Rendez vous sur <a href="http://www.fanfare-cuc.fr">notre site</a> ou <a href="https://fr-fr.facebook.com/fanfare.CUC">notre facebook</a> !</p>
            </div>
            <div ng-if="ctrl.loser === 'player';">
                <img src="{% static 'img/perdu.png' %}">
                <h3>Oh no !</h3>
                <p>C'est la lose, t'as perdu !</p>
                <p>Et si tu venez t'entrainer avec nous? Rendez vous sur <a href="http://www.fanfare-cuc.fr">notre site</a> ou <a href="https://fr-fr.facebook.com/fanfare.CUC">notre facebook</a> !</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <button type='button' class='btn btn-danger btn-lg' ng-click='ctrl.reset();' ng-cloak>New fight !</button>
            </div>
            <hr>
            <div class="center">
                <a href="{% url 'results' %}"><img src="{% static 'img/podium.png' %}" alt='podium'></a>
                <h3>Voir les classements de vos boxeurs préférés !</h3>
            </div>
            <hr>
            <div class="center">
                <img src='{% static "img/cucgame.png" %}' alt="CUC Game Logo">
                <p>Un site trop cool fait par le <a href="http://fanfare-cuc.fr">CUC, la fanfare qui vous aime avant que vous l'aimiez !</a>.</p>
                <p>Design: Prairie & CUC, Code: Tg powered on django & angular with &lt3. Copyright CUC 2016</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}