{% extends "skeleton.html" %}
{% load static %}

{% block ng_app %}ng-app="dispatch" ng-strict-di{% endblock ng_app %}

{% block body %}
<div class="container">
	<div class="col-md-12">
		<h3>HELP CENTER !</h3>
		<p></i>Bon, si vous en êtes là, c'est que vous n'avez pas pu comprendre un jeu qu'un enfant de 5ans aurait tout de suite compris.</i></p>

		<p></i>Alors, je vais faire vite, comme ca, vous pourrez retourner jouer et faire semblant d'avoir tout compris depuis le début.</i></p>

		<hr>

		<h4>Les règles...</h4>
		<p>Il y a 5 attaques différentes, chacune ne pouvant être utilisée qu'un certain nombre de fois.</p>
		<ul>
			<li><b>Jouer 'morceau trop cool du CUC' :</b> Inflige des dégâts à votre adversaire. Limité à 5 tentatives.</li>
			<li><b>S'accorder :</b> Vous permet d'utiliser l'attaque "jouer" 3 fois de plus. (5 maximum). On ne peut s'accorder que si on a déjà joué. (faux donc)</li>
			<li><b>Boire une bière :</b> Vous fait regagner de la vie (2 fois maximum)</li>
			<li><b>Pisser un coup :</b> Vous permet de boire à nouveau jusqu'à 2 fois maximum.</li>
			<li><b>Attaque spéciale :</b> Inflige des dégâts plus important à votre adversaire. Coup unique par partie !</li>
		</ul>

		<hr>

		<h4>La mécanique du jeu</h4>
		<p>Vous vous battez contre une IA surpuissante basé sur Tay de Microsoft. Du coup, la machine est macchiavélique à souhait et apprend de vos erreurs.</p>
		<p>Les dégâts ou soin sont aléatoires dans une fourchette définie par le type d'attaque.</p>

		<p>Vous en voulez encore ? Tout n'est pas clair ? Contactez-nous !</p>

		<hr>

		<div class="center">
			<p>C'est tout ! Retourner jouer maintenant !</p>
        	<p><a href="{% url 'home' %}" class="btn btn-info">Go back to the game!</a></p>
		</div>

		<hr>

		<div class="center">
                <img src='{% static "img/cucgame.png" %}' alt="CUC Game Logo">
                <p>Un site trop cool fait par le <a href="http://fanfare-cuc.fr">CUC, la fanfare qui vous aime avant que vous l'aimiez !</a></p>
                <p>Design: Prairie &amp; CUC, Music: Bavette, Code: Tagol powered on django &amp; angular with &#x2665;. Copyright CUC 2016</p>
        </div>
	</div>
</div>
{% endblock body %}